<!DOCTYPE html>
<html>
<head>
	<title>登录方式日志表</title>
</head>

<body>
	<a href="/index/">首页</a>
	<hr>
	<table>
		<th>{{first_login}} 至 {{latest_login}}.查询用时：{{use_time}}</th>
		<tr>
			<td>请求次数：{{count}}</td>
			<td>正常次数：{{ok_count}}</td>
			<td>用户数: {{user_count}}</td>

		</tr>
		<tr>
			<td>pc次数: {{pc_count}}</td>
			<td>android次数: {{android_count}}</td>
			<td>iphone次数: {{iphone_count}}</td>
				
		</tr>
	</table>
	<hr>
	



	<table>
		<th>详细信息</th>
		{% for line in searchlist %}
		<tr>
			{% if line.access_type == 0%}
			<td>设备： 电脑</td>
			{% elif line.access_type == 2 %}
			<td>设备： 苹果</td>
			{% else %}
			<td>设备： 安卓</td>
			{% endif %}
			<td>ip: {{line.ip}}</td>
			<td>时间： {{line.accessTime}}</td>
			<td>方式： {{line.method}}</td>
			<td>status: {{line.status}}</td>
			<td>path: {{line.path}}</td>
			
		</tr>
		{% endfor %}
	</table>
	<hr>

	<h4>统计相关</h4>
	<table>
		<th>ip访问次数排名</th>
		{% for line in  order_ip%}
		<tr>
			<td>ip: {{line.ip}}</td>
			{% if line.access_type == 0%}
			<td>设备： 电脑</td>
			{% elif line.access_type == 2 %}
			<td>设备： 苹果</td>
			{% else %}
			<td>设备： 安卓</td>
			{% endif %}
			<td>次数：{{line.count}}</td>
		</tr>
		{% endfor %}
	</table>
	
	<HR>
		<table>
		<th>路径访问次数排名</th>
		{% for line in  order_path%}
		<tr>
			<td>访问路径: {{line.path}}</td>
			{% if line.access_type == 0%}
			<td>设备： 电脑</td>
			{% elif line.access_type == 2 %}
			<td>设备： 苹果</td>
			{% else %}
			<td>设备： 安卓</td>
			{% endif %}
			<td>次数：{{line.count}}</td>
		</tr>
		{% endfor %}
	</table>
	<HR>
	<table>
		<th>设备访问次数排名</th>
		{% for line in  order_accessType%}
		<tr>
			{% if line.access_type == 0%}
			<td>设备： 电脑</td>
			{% elif line.access_type == 2 %}
			<td>设备： 苹果</td>
			{% else %}
			<td>设备： 安卓</td>
			{% endif %}
			<td>ip： {{line.ip}}</td>
			<td>次数：{{line.count}}</td>
		</tr>
		{% endfor %}

	</table>
	<HR>
	<!--
	<table>
		<th>来源访问次数排名</th>
		{% for line in  order_refe%}
		<tr>
			<td>来自于: {{line.refe}}</td>
			{% if line.access_type == 0%}
			<td>设备： 电脑</td>
			{% elif line.access_type == 2 %}
			<td>设备： 苹果</td>
			{% else %}
			<td>设备： 安卓</td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
	-->
	<HR>
	
	<table>
		<th>其他信息</th>
		{% for line in searchlist %}
		<tr>
			<td>来自于: {{line.refe}}</td>
			<td>浏览器： {{line.browse}}</td>
		</tr>
		{% endfor %}
	</table>

</body>
</html>

